@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  outline: 0;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?hfrtmo");
  src: url("../fonts/icomoon.eot?hfrtmo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hfrtmo") format("truetype"), url("../fonts/icomoon.woff?hfrtmo") format("woff"), url("../fonts/icomoon.svg?hfrtmo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Open Sans";
  background: #1d71b8;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-style: normal;
  display: block;
}

h1 {
  font-size: calc(1rem + 1.25vw);
  line-height: calc(1rem + 2.65vw);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}
@media only screen and (min-width: 36em) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

h2 {
  font-size: calc(1rem + 1.25vw);
  line-height: calc(1rem + 2.65vw);
  font-weight: bold;
  font-style: normal;
  text-align: left;
}
@media only screen and (min-width: 36em) {
  h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

h3 {
  font-size: calc(1rem + 1.25vw);
  line-height: calc(1rem + 2.65vw);
  margin-bottom: 1rem;
}
@media only screen and (min-width: 36em) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

h5 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 36em) {
  h5 {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 36em) {
  p {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}
p.error {
  background-color: #dc3545;
  color: #fff;
  padding: 1rem;
}

li {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  display: block;
}
@media only screen and (min-width: 36em) {
  li {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}
li:not(:last-child) a, li:not(:last-child) button {
  border-bottom: 1px solid rgba(29, 113, 184, 0.5);
}
li a,
li button {
  display: block;
  padding: 0.8rem 1rem;
  transition: font-weight 0.3s ease;
  will-change: font-weight;
}
li a:hover, li a:focus,
li button:hover,
li button:focus {
  font-weight: bold;
  font-style: normal;
}

b,
strong {
  font-weight: bold;
  font-style: normal;
}
b i,
b em,
strong i,
strong em {
  font-weight: bold;
  font-style: italic;
}

i,
em {
  font-weight: normal;
  font-style: italic;
}
i b,
i strong,
em b,
em strong {
  font-weight: bold;
  font-style: italic;
}

a,
button {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
  color: #1d71b8;
  width: 100%;
  background: none;
  text-align: left;
  cursor: pointer;
}
@media only screen and (min-width: 36em) {
  a,
button {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}

.iframe-link {
  display: none;
}
@media only screen and (min-width: 52em) {
  .iframe-link {
    display: block;
  }
}

.show-mobile {
  display: block;
}
@media only screen and (min-width: 52em) {
  .show-mobile {
    display: none;
  }
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 52em) {
  .page {
    flex-flow: row nowrap;
    overflow: hidden;
  }
}

.page__header {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid #1d71b8;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}
@media only screen and (min-width: 52em) {
  .page__header {
    width: 33vw;
  }
}
.page__header > header {
  background-color: #1d71b8;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
@media only screen and (min-width: 52em) {
  .page__header > header {
    position: relative;
    padding: 3rem;
  }
}
.page__header > nav {
  width: 100%;
  padding: 3rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 14vw;
}
@media only screen and (min-width: 52em) {
  .page__header > nav {
    margin-top: 0;
  }
}
.page__header > nav header {
  font-size: 1rem;
  line-height: 1.4rem;
  background-position: center right 1.5rem;
  background-size: 1.25rem 1.25rem;
  padding: 1rem 4rem 1rem 1rem;
}
@media only screen and (min-width: 36em) {
  .page__header > nav header {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}
.page__header > nav header:not(:first-child) {
  margin-top: 3rem;
}
.page__header > nav footer {
  background-color: rgba(29, 113, 184, 0.1);
  border-bottom: 0.15rem solid #1d71b8;
}
.page__header > footer {
  padding: 0.5rem 0 0.25rem;
}
.page__header .logo {
  width: 50%;
  height: auto;
}
@media only screen and (min-width: 52em) {
  .page__header .logo {
    width: 80%;
  }
}

.page__main {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: none;
}
@media only screen and (min-width: 52em) {
  .page__main {
    display: inline;
  }
}
.page__main header {
  text-align: center;
}
.page__main iframe {
  width: 100%;
  height: 100%;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: 0.5rem;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-default::before {
  content: "";
}
.icon-external::before {
  content: "";
}
.icon-download::before {
  content: "";
}

/*# sourceMappingURL=main.css.map */
