$color-primary: #1d71b8;
$color-secondary: #95c11f;

$color-white: #fff;
$color-white--dark: #eff3f4;

$color-black: #000;

$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
