$font-family: "Open Sans";

$fonts:
        $font-family 'OpenSans-Regular' normal normal,
        $font-family 'OpenSans-Italic' italic normal,
        $font-family 'OpenSans-SemiBold' normal bold,
        $font-family 'OpenSans-SemiBoldItalic' italic bold;

@each $name, $id, $style, $weight in $fonts {
  @font-face {
    font-family: #{$name};
    src: url('../Fonts/#{$id}.ttf') format('truetype');
    font-style: #{$style};
    font-weight: #{$weight};
    font-display: swap;
  }
}