$mq-small: 'only screen and (min-width: 36em)';
$mq-small-to-medium: 'only screen and (min-width: 36em) and (max-width:52em)';
$mq-medium: 'only screen and (min-width: 52em)';
$mq-large: 'only screen and (min-width: 68em)';